<div class="form-group" ng-class="{'has-error' : submitted && studentForm.name.$invalid}">
  <label class="control-label col-md-3">Name <span class="required">* </span> </label>
  <div class="col-md-4">
    <input type="text" name="name" class="form-control" ng-model="student.name" required placeholder="Name"/>
  </div>
  <p ng-show="submitted && studentForm.name.$invalid" class="help-block">Name is required.</p>
</div>
<div class="form-group" ng-class="{'has-error' : submitted && studentForm.first_name.$invalid}">
  <label class="control-label col-md-3"> First Name <span class="required">* </span> </label>
  <div class="col-md-4">
     <input type="text" name="first_name" class="form-control" ng-model="student.first_name" required>
  </div>
  <p ng-show="submitted && studentForm.first_name.$invalid" class="help-block">First Name is required.</p>
</div>
<div class="form-group" ng-class="{'has-error' : submitted && studentForm.last_name.$invalid}">
  <label class="control-label col-md-3">Last Name <span class="required">* </span></label>
  <div class="col-md-4">
     <input type="text" name="last_name" class="form-control" ng-model="student.last_name" required>
  </div>
  <p ng-show="submitted && studentForm.last_name.$invalid" class="help-block">Last Name is required.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && studentForm.enrolled_no.$invalid}">
  <label class="control-label col-md-3">Enrolled No <span class="required">* </span></label>
  <div class="col-md-4">
     <input type="number" name="enrolled_no" class="form-control" ng-model="student.enrolled_no" required>
  </div>
  <p ng-show="submitted && studentForm.enrolled_no.$invalid" class="help-block">Enrolled No is required.
  </p>
</div>

<div class="form-group" ng-controller="ClassRoomsList">
  <label class="control-label col-md-3">Class Room <span class="required">* </span> </label>
  <div class="col-md-4">
    <select ng-model="selectedItem" class="form-control">
      <option ng-repeat="class in classrooms" value="{{class.id}}">{{class.name}}</option>
    </select>
  </div>
</div>


<div class="form-group">
  <div class="pull-left">
    <a class="btn btn-default" href="/"> Back</a>
    <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
  </div>
</div>

